body{
	margin:0;
	font-family : Arial,Verdana,"sans-serif";
}

/* hack how to "reset */



html, body {

background-color: white;
/**background-image: url(/app9/img/table1.jpg);
background-repeat: repeat-x;
**/
}


/* DEV

* {
	border: 1px solid black;
}
*/


div#services{
	width: 50%;
	float:left;
	padding-top: 5%;

}

div#ourTeam{
	width: 50%;
	float:left;
	padding-top: 5%;
}

div#aboutUs{
	width: 49%;
	float:left;
	padding-top: 5%;
}

div#aboutUs img {
	width: 100%;
	min-height: 100%;

}

div#main{
	width:100%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}
	header{
	width:100%;
	height:250px;
	background-image: url("/app9/img/gobs02.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

nav {
	background-color: black;
	width: 100%;
	height: 40px;
	text-align:right;
	padding-top:10px;
	padding-right: 10%
	clear:both;
}

div#goblinForm {

	width: 100%;
	text-align:center;
	padding-top:10px;

	clear:both;
}

div#content1{
	width:27%;
	float:left;
	padding-left: 2%;
}

div#content2{
	width:99%;
	float:left;
	padding-left: 2%;
}

div#content3{
	width:80%;
	float:left;
	padding-left: 10%;
}



.center {
	padding-top: 3%;
	margin: auto;
	width: 60%;

}



footer{
	width:100%;
	height:50;
	text-align:center;
	background-color:  #f2f2f2;
	clear:both;
}

  /* This is a single-line comment */

img#logo{
	width:100px;
	border:0;
	position:relative;
	top:50px;
	left:25px;
	float:left;

}


.textCenter{
	width: 50%;
	text-align: center;
	margin: 0 auto;
	font-family: "Times New Roman", Times, serif;
	padding-top: 1%;
}



header h1{
	float:left;
	position:relative;
	top:30px;
	left: 50px;
	font-size:2.5em;
	color: #cfe6f1;
}

  /* 1em = 16px*/

ul {
	list-style-type: none;
	display:inline;
}


nav ul li {
	display:inline;

}
nav ul li a {
	font-size: 1.5em;
	color: #3c3c3c;
	font-weight:bolder;
	margin-left:20px;
	text-decoration:none;

}

nav ul li a:hover {
	color:orange;

}

nav ul li a:active {
	color:white;
}

nav ul li a {
	color:white;
}


.container2 {
  position: relative;
  width: 50%;
	margin: auto;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.container2:hover .overlay {
  opacity: 1;
}

.text {
color: white;
font-family : Arial,Verdana,"sans-serif";
font-size: 15px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);

}

.linkUnderPic {
	color: white;
	text-decoration: none;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}

img#shield{

		height: 100%;
		width: 100%;

}

img#sword{

		height: 100%;
		width: 100%;

}
